{% extends "base.html" %}
{% block content %}
  <div class="content">
    <h3>Games ({{ games|length }})</h3>
    <div class="grid-container">
      <ol>
        {% for game in games %}
          <a href="{{ url_for('execution_page', exec=exec, game=game.path) }}">
            <li>
              <span style="font-size: 1.3em;">Game #{{ game.serial }}</span><br>
              <span class="text-gray">{{ game.time }}<span><br><br>
              <center><img src='/summary/{{ exec }}/{{ game.path }}/game.gif' width="90%"></center>
            </li>
          </a>
        {% endfor %}
      </ol>
    </div>
  </div>
{% endblock %}
